In [5]:
import unicodecsv

enrollments = []
f = open('enrollments.csv', 'rb')
reader = unicodecsv.DictReader(f)
for row in reader:
    enrollments.append(row)
f.close()
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': u'2015-01-14',
 u'days_to_cancel': u'65',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-10',
 u'status': u'canceled'}

In [6]:
import unicodecsv

with open('enrollments.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader)
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': u'2015-01-14',
 u'days_to_cancel': u'65',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-10',
 u'status': u'canceled'}

In [7]:
import unicodecsv
with open('daily-engagement.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    engagements = list(reader)
engagements[0]

{u'acct': u'0',
 u'lessons_completed': u'0.0',
 u'num_courses_visited': u'1.0',
 u'projects_completed': u'0.0',
 u'total_minutes_visited': u'11.6793745',
 u'utc_date': u'2015-01-09'}

In [8]:
import unicodecsv
with open('project-submissions.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    submissions = list(reader)
submissions[0]

{u'account_key': u'256',
 u'assigned_rating': u'UNGRADED',
 u'completion_date': u'2015-01-16',
 u'creation_date': u'2015-01-14',
 u'lesson_key': u'3176718735',
 u'processing_state': u'EVALUATED'}

In [17]:
import unicodecsv

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

enrollments = read_csv('enrollments.csv')
daily_engagement = read_csv('daily-engagement.csv')
project_submissions = read_csv('project-submissions.csv')
### For each of these three tables, find the number of rows in the table and
### the number of unique students in the table. To find the number of unique
### students, you might want to create a set of the account keys in each table.
enrollment_unique_students = set()
enrollment_num_rows = len(enrollments)           # Replace this with your code
for enrollment in enrollments: 
    enrollment_unique_students.add(enrollment['account_key'])
enrollment_num_unique_students = len(enrollment_unique_students)  # Replace this with your code

for engagement_record in daily_engagement:
    engagement_record['account_key'] = engagement_record['acct']
    del[engagement_record['acct']]

engagement_unique_students = set()
engagement_num_rows = len(daily_engagement)             # Replace this with your code
for engagement in daily_engagement: 
    engagement_unique_students.add(engagement['account_key'])
engagement_num_unique_students = len(engagement_unique_students)  # Replace this with your code
print daily_engagement[0]

submission_unique_students = set()
submission_num_rows = len(project_submissions)            # Replace this with your code
for submission in project_submissions: 
    submission_unique_students.add(submission['account_key'])
submission_num_unique_students = len(submission_unique_students)  # Replace this with your code

{u'lessons_completed': u'0.0', u'num_courses_visited': u'1.0', u'total_minutes_visited': u'11.6793745', u'projects_completed': u'0.0', u'acct': u'0', u'utc_date': u'2015-01-09'}

In [3]:
import numpy as np
np.array([1,2,3,4,5]).dtype

dtype('int64')

In [4]:
import pandas as pd

enrollments_df = pd.DataFrame({
    'account_key':[448, 448, 448, 448, 448]
})

In [5]:
ridership_df = pd.DataFrame({
    'R003': [0, 1478, 1613, 1576, 1608, 1576, 95, 2, 1438, 1342],
    'R004': [0, 3877, 4088, 3392, 4802, 3933, 229, 0, 3785, 4043],
    'R005': [2, 3674, 3991, 3826, 3932, 3909, 255, 1, 3589, 4009],
    'R006': [5, 2328, 6461, 4787, 4477, 4979, 496, 27, 4174, 4665],
    'R007': [0, 2539, 2691, 2613, 2705, 2685, 201, 0, 2215, 3033]
}, index={
    '05-01-11','05-02-11','05-03-11','05-04-11','05-05-11',
    '05-06-11','05-07-11','05-08-11','05-09-11','05-10-11'
})
ridership_df

          R003  R004  R005  R006  R007
05-05-11     0     0     2     5     0
05-10-11  1478  3877  3674  2328  2539
05-02-11  1613  4088  3991  6461  2691
05-07-11  1576  3392  3826  4787  2613
05-04-11  1608  4802  3932  4477  2705
05-08-11  1576  3933  3909  4979  2685
05-09-11    95   229   255   496   201
05-03-11     2     0     1    27     0
05-01-11  1438  3785  3589  4174  2215
05-06-11  1342  4043  4009  4665  3033

In [6]:
#获取一行的信息
ridership_df.loc['05-01-11']

R003    1438
R004    3785
R005    3589
R006    4174
R007    2215
Name: 05-01-11, dtype: int64

In [8]:
ridership_df.iloc[0:3]

          R003  R004  R005  R006  R007
05-05-11     0     0     2     5     0
05-10-11  1478  3877  3674  2328  2539
05-02-11  1613  4088  3991  6461  2691

In [9]:
ridership_df.values

array([[   0,    0,    2,    5,    0],
       [1478, 3877, 3674, 2328, 2539],
       [1613, 4088, 3991, 6461, 2691],
       [1576, 3392, 3826, 4787, 2613],
       [1608, 4802, 3932, 4477, 2705],
       [1576, 3933, 3909, 4979, 2685],
       [  95,  229,  255,  496,  201],
       [   2,    0,    1,   27,    0],
       [1438, 3785, 3589, 4174, 2215],
       [1342, 4043, 4009, 4665, 3033]])

In [10]:
ridership_df.values.mean()

2342.9200000000001

In [24]:
import pandas as pd

# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

# Change False to True for each block of code to see what it does

# DataFrame creation
if False:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df_1

    # You can also use a list of lists or a 2D NumPy array
    df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
    print df_2
   

# Accessing elements
if False:
    print ridership_df.iloc[0]
    print ridership_df.loc['05-05-11']
    print ridership_df['R003']
    print ridership_df.iloc[1, 3]
    
# Accessing multiple rows
if False:
    print ridership_df.iloc[1:4]
    
# Accessing multiple columns
if False:
    print ridership_df[['R003', 'R005']]
    
# Pandas axis
if False:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df.sum()
    print df.sum(axis=1)
    print df.values.sum()
    
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.
    '''
    max_station = ridership.iloc[0].argmax()
    overall_mean = ridership.values.mean() # Replace this with your code
    mean_for_max =  ridership[max_station].mean()# Replace this with your code
    
    return (overall_mean, mean_for_max)

mean_riders_for_max_station(ridership_df)

(3239.9, 2342.5999999999999)